<article id="home" class="panel special">
  <div class="image">
    <img src="/images/rex-profile.jpg" alt="" data-position="left center" />
  </div>
  <div class="content">
    <div class="inner">
      <header>
        <h1>Rex</h1>
        <p>Connections. Solutions. Discretion.</p>
      </header>
      <nav id="nav">
        <ul class="actions stacked special animated spinY">
          <li><a href="#jobs" class="button">Available Gigs</a></li>
          <li><a href="#about" class="button">About</a></li>
          <li><a href="#contact" class="button">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</article>
